<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/petlist.css"/>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
</head>

<body>
    <include file="./Application/Public/View/Header/v1.html" />
    <div id="content">
        <script id="list-template" type="text/html">
            <% for( var key in data){ %>
                <% var pet = data[key] %>
                <div class="list-item fd-clr">
                    <div class="img-box" style="background-image:url(<%= pet.img %>);">
                    </div>
                    <h3><%= pet.subject %></h3>
                    <div class="item-info">
                        <div class="line">
                            <span class="title">萌宠种类：</span>
                            <span class="text"><%= pet.category %></span>
                        </div>
                        <div class="line">
                            <span class="title">萌宠品种：</span>
                            <span class="text"><%= pet.pinzhong %></span>
                        </div>
                        <div class="line">
                            <span class="title">萌宠性别：</span>
                            <span class="text">公</span>
                        </div>
                        <div class="line">
                            <span class="title">萌宠颜色：</span>
                            <span class="text"><%= pet.color %></span>
                        </div>
                        <div class="line">
                            <span class="title">萌宠生日：</span>
                            <span class="text"><%= pet.birthday %></span>
                        </div>
                        <div class="line">
                            <span class="title">参考价格：</span>
                            <span class="text">&yen;<%= pet.price/100 %></span>
                        </div>
                        <div class="line" style="width:500px;">
                            <span class="title">详细地址：</span>
                            <span class="text" style="width:410px;"><%= pet.city%><%= pet.area%><%= pet.address%></span>
                        </div>
                    </div>
                    <div class="item-description">
                        寄语：<%= pet.description %>
                    </div>
                    <a href="#" class="delete action-button" data-id="<%= pet.id %>">
                        <i class="iconfont">&#xe608;</i>
                    </a>
                    <a href="/admin/manage/edit?petid=<%= pet.id %>" class="modify action-button" target="_blank">
                        <i class="iconfont">&#xe609;</i>
                    </a>
                    <a href="/detail?id=<%= pet.id %>" class="see action-button" target="_blank">
                        <i class="iconfont">&#xe60a;</i>
                    </a>
                </div>
            <% } %>
        </script>
        <div class="layout-990">
            <div class="left-content" id="my-pet-list">
                
            </div>
            <assign name="right_tab" value="2" />
            <include file="./Application/Public/View/Component/right_menu.html"/>
        </div>
    </div>
    <include file="./Application/Public/View/Footer/v1.html" />
    <script src="/static/gallery/template.js"></script>
    <script src="/static/js/global/util.js"></script>
    <script type="text/javascript" src="/static/js/page/home/petlist.js"></script>
</body>
</html>