<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/gallery/form/form.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/release.css">
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
</head>

<body>
    <include file="./Application/Public/View/Header/v1.html" />
    
    <div id="content">
        <div class="layout-990">
            <div class="left-content">
                <h3>发布宠物</h3>
                <div class="release">
                    <form action="__URL__/create" method="post" id="releasepet">
                        <div class="row fd-clr">
                            <label class="form-label">标题：</label>
                            <div class="formControls width-430">
                                <input type="text" class="input-text" placeholder="不能超过25个字符" name="subject" id="username" datatype="*1-25" nullmsg="标题不能为空">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">种类：</label>
                            <div class="formControls select-control">
                                <span class="select-box">
                                    <select name='category' class="select" size="1" datatype="*" nullmsg="请选择种类">
                                        <option value="">请选择种类</option>
                                        <option value ="cat" selected>喵星人</option>
									    <option value ="dog">汪星人</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">品种：</label>
                            <div class="formControls select-control">
                                <span class="select-box">
                                    <select name='pinzhong' class="select" size="1" datatype="*" nullmsg="请选择品种">
                                        <!-- <option value="" selected>请选择品种</option> -->
                                        <option value="168" selected>美国短毛猫</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">生日：</label>
                            <div class="formControls">
                                <input type="text" class="input-text" onClick="WdatePicker({readOnly:true})" placeholder="请选择生日" name="birthday" id="username" datatype="*" nullmsg="生日不能为空">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">颜色：</label>
                            <div class="formControls">
                                <input type="text" class="input-text" placeholder="请输入颜色" name="color" id="username" datatype="*" nullmsg="颜色不能为空">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">性别：</label>
                            <div class="formControls">
                                <div class="radio-box">
                                    <input type="radio" id="sex-1" name="sex" datatype="*" nullmsg="请选择性别！" value="M">
                                    <label for="sex-1">GG</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" id="sex-2" name="sex" value="F">
                                    <label for="sex-2">MM</label>
                                </div>
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">位置：</label>
                            <div class="formControls select-control">
                                <span class="select-box">
                                    <select class="select" size="1" datatype="*" nullmsg="请选择所在城市!" name='city'>
                                        <option value="" selected>请选择城市</option>
                                        <!-- <option value="杭州" selected>杭州</option> -->
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip select-tip"></div>
                            <label class="form-label margin-top-10"></label>
                            <div class="formControls select-control margin-top-10">
                                <span class="select-box">
                                    <select class="select" size="1" datatype="*" nullmsg="请选择所在地区!" name='area'>
                                        <option value="" selected>请选择区域</option>
                                        <!-- <option value="下城区" selected>下城区</option> -->
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip select-tip margin-top-10"></div>
                            <label class="form-label margin-top-10"></label>
                            <div class="formControls width-430 margin-top-10">
                                <input type="text" class="input-text" placeholder="详细地址" name="address" id="username" datatype="*" nullmsg="详细地址不能为空">
                            </div>
                            <div class="form-tip margin-top-10"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">价格：</label>
                            <div class="formControls">
                                <input type="text" class="input-text" placeholder="价格必须为数字" name="price" id="username" datatype="n" nullmsg="价格必须为数字">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">寄语：</label>
                            <div class="formControls width-430">
                                <textarea name="description" class="textarea" placeholder="寄语不能超过240个字符" datatype="*0-240" errormsg="寄语不能超过240个字符"></textarea>
                            </div>
                            <div class="form-tip"></div>
                        </div>

                        <div class="row fd-clr">
                            <label class="form-label">图片：</label>
                            <div class="formControls img-upload-box">
                                <div class="img-box">

                                </div>
                                <div class="add-img">
                                    <i class="iconfont">&#xe605;</i>
                                    <span>添加一张图片</span>
                                </div>
                                <input type="hidden" name="img_urls" datatype="*" nullmsg="至少添加一张图片" value="">
                                <input type="hidden" name="slogans" value="">
                            </div>
                            <div class="form-tip" style="width:180px;"></div>
                        </div>
                        
                        <div class="fd-clr btn-box">
                            <input class="btn btn-release" type="submit" value="提交发布">
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-nav">
                <ul>
                    <li class="first">
                        <a class="current" href="">
                            <i class="iconfont">&#xe602;</i>&nbsp;&nbsp;发布萌宠
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;我发布的</a>
                    </li>
                    <li>
                        <a href=""><i class="iconfont">&#xe603;</i>&nbsp;&nbsp;个人资料</a>
                    </li>
                    <li>
                        <a href=""><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;开通店铺</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <include file="./Application/Public/View/Footer/v1.html" />

</body>


<script src="http://www.meipet.com.cn/static/gallery/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="/static/gallery/validform.js"></script>
<script type="text/javascript" src="/static/gallery/datepicker/WdatePicker.js"></script>
<script src="/static/js/page/home/publish.js"></script>

</html>
