<div class="right-nav">
    <ul>
        <li class="first">
            <if condition="$right_tab eq '1' ">
                <a class="current" href=""><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;发布萌宠</a>
            <else/>
                <a href=""><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;发布萌宠</a>
            </if>
        </li>
        <li>
	        <if condition="$right_tab eq '2' ">
	            <a class="current" href=""><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;我发布的</a>
	        <else/>
	            <a href=""><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;我发布的</a>
	        </if>
        </li>
        <li>
	        <if condition="$right_tab eq '3' ">
	            <a href="" class="current"><i class="iconfont">&#xe603;</i>&nbsp;&nbsp;个人资料</a>
            <else/>
             	<a href=""><i class="iconfont">&#xe603;</i>&nbsp;&nbsp;个人资料</a>
            </if>
        </li>
        <li>
	       <if condition="$right_tab eq '4' ">
	            <a class="current" href=""><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;开通店铺</a>
	       <else/>
	      		 <a href=""><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;开通店铺</a>
	       </if>
        </li>
    </ul>
</div>