<div class="right-nav">
    <ul>
        <li class="first">
          <if condition="$right_tab eq '2' ">
              <a class="current" href="/admin/manage/petlist"><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;我发布的</a>
          <else/>
              <a href="/admin/manage/petlist"><i class="iconfont">&#xe604;</i>&nbsp;&nbsp;我发布的</a>
          </if>
        </li>
        <li>
            <if condition="$right_tab eq '1' ">
                <a class="current" href="/admin/manage/publish"><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;发布萌宠</a>
            <else/>
                <a href="/admin/manage/publish"><i class="iconfont">&#xe602;</i>&nbsp;&nbsp;发布萌宠</a>
            </if>
        </li>
        <li>
	        <if condition="$right_tab eq '3' ">
	            <a href="/admin/User/info" class="current"><i class="iconfont">&#xe603;</i>&nbsp;&nbsp;个人资料</a>
            <else/>
             	<a href="/admin/User/info"><i class="iconfont">&#xe603;</i>&nbsp;&nbsp;个人资料</a>
            </if>
        </li>
        <?php 
           //if('Y'==$user['shop']){
       ?>
       <!-- <li>
	       <if condition="$right_tab eq '5' ">
	            <a class="current" href="/admin/shop/set"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;设置店铺</a>
	       <else/>
	      		 <a href="/admin/shop/set"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;设置店铺</a>
	       </if>
        </li>
        <li>
	       <if condition="$right_tab eq '6' ">
	            <a class="current" href="/center"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;我的店铺</a>
	       <else/>
	      		 <a href="/center"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;我的店铺</a>
	       </if>
        </li> -->
       <?php 
           //}else{
       ?>
        <!-- <li>
	       <if condition="$right_tab eq '4' ">
	            <a class="current" href="/admin/shop/open"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;开通店铺</a>
	       <else/>
	      		 <a href="/admin/shop/open"><i class="iconfont">&#xe601;</i>&nbsp;&nbsp;开通店铺</a>
	       </if>
        </li> -->
       <?php 
           //}
        ?>
       
    </ul>
</div>