<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="http://www.meipet.com.cn/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="http://www.meipet.com.cn/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="http://www.meipet.com.cn/static/css/global/layout.css">
    <!-- module-->
    <link rel="stylesheet" type="text/css" href="http://www.meipet.com.cn/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="http://www.meipet.com.cn/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="http://www.meipet.com.cn/static/css/page/list/v1.css">
</head>

<body>
    <div id="header">
        <div class="layout-1190">
            <h1><a href="#" title="美优萌宠"><img src="http://www.meipet.com.cn/static/img/logo.png"></a></h1>
            <ul class="nav ms-yh">
                <li class="current"><a href="#">首页</a></li>
                <li><a href="#">无偿领养</a></li>
                <li><a href="#">有偿领养</a></li>
                <li><a href="#">怪物商城</a></li>
                <li><a href="#">造型洗澡</a></li>
                <li><a href="#">萌宠医疗</a></li>
                <li><a href="#">萌宠告别</a></li>
                <li><a href="#">直营店查询</a></li>
                <li><a href="#">App下载</a></li>
            </ul>
            <div class="user-center">
                <a class="no-login" href="#" target="_self">请登录</a>
                <!-- <div class="is-login">
                <div class="user">
                    <a href="#">
                        <img onerror="this.src='http://i04.c.aliimg.com/cms/upload/2014/821/102/2201128_1754507855.png'" src="http://img.taobaocdn.com/i3/T1YeSiXk8eXXb1upjX.jpg"/>
                        <span class="name">&nbsp;&nbsp;水牛儿27</span>
                    </a>
                </div>
                <div class="operation">
                    <em></em>
                    <ul>
                        <li class="no-border">
                            <a href="/tuan/myInfo.htm">个人中心</a>
                        </li>
                        <li>
                            <a href="#" target="_self" >退出登录</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            </div>
        </div>
    </div>
    <div id="content">
    </div>
    <div id="footer" class="ms-yh">
        <div class="layout-1190">
            <span class="copyright">
            Copyright&nbsp;©&nbsp;<a href="#" target="_self">杭州美呦科技有限公司</a>&nbsp;&nbsp;2015-2018&nbsp;&nbsp;版权所有
        </span>
            <br>
            <a href="#">关于美优</a>&nbsp;|&nbsp;<a href="#">团队介绍</a>&nbsp;|&nbsp;<a href="#">加入我们</a>
        </div>
    </div>
</body>
<!-- global-->
<script type="text/javascript" src="http://www.meipet.com.cn/static/js/global/jquery.min.js"></script>
<!-- module-->
<!-- page-->

</html>