.offer-list{
	padding: 5px 0 10px;
	width: 1013px;
}
.offer-item{
	width: 220px;
	float: left;
	margin: 5px 10px 5px 0;
	padding: 10px;
	border-radius: 3px;
	background: #fff;
}

.offer-item .item-box{
	width: 220px;
	height: 220px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.offer-item:hover .item-box{
	z-index: 99;
}
.offer-item:hover .item-box{
	
	-webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.offer-item .item-box .price-age{
	position: absolute;
	bottom: 0;
	left:0;
	width: 220px;
	height: 0;
	padding: 0;
	background-color: rgba(254, 102, 0, .88);
	-webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
	overflow: hidden;
}
.offer-item:hover .item-box .price-age{
	height: 40px;
	padding: 5px 0;
	-webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.offer-item .item-box .price-age span{
	float: left;
	line-height: 20px;
	width: 110px;
	text-align: center;
	color:#fff;
}
.offer-item .item-box .price-age span.age{
	width: 109px;
	border-left: dotted #eee 1px;
	float: right;
}

.offer-item .other{
	width: 210px;
	background-color: #fff;
	color:#444;
	position: relative;
}
.offer-item .other .description{
	display: inline-block;
	width: 210px;
	line-height: 20px;
	padding: 0 5px;
	height: 20px;
	overflow: hidden;
	text-align: center;
	margin-top: 8px;
}
.offer-item .other .description:hover{
	color:#fe6600;
	text-decoration: underline;
}
.offer-item .other .button{
	display: inline-block;
	width: 130px;
	margin-left: 45px;
	margin-top: 5px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	background-color: #fe6600;
	color:#fff;
}