body{
	background-color: #eee;
}
.get-more{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	border:solid #eee 1px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	color:#666;
	cursor: pointer;
}
.get-more:hover{
	color:#fe6600;
}