html{
	background:url(../../img/loginbg.jpg);
}
#content{
    padding-top: 60px;
    min-height: 777px;
}
.no-more{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
    padding-bottom: 10px;
	color:#666;
}
