html{
	background: url(../../img/loginbg.jpg);
}
#header{
	position: relative;
}
#content{
	padding: 15px 0;
}

.main-content{
	background: #fff;
	width:630px;
	padding: 20px 20px 0 20px;
	float:left;
	border-radius: 5px;
	color:#444;
}
.main-content h3{
	height: 28px;
	font-size: 18px;
	padding: 0 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: dashed #ddd 1px;
}
.main-content h3 span{
	line-height: 28px;
	margin-right: 15px;
	float: left;
}
.main-content p{
	margin-bottom: 20px;
	background: #fff;
}
.main-content p.description{
	padding: 15px 18px;
	border:solid #eee 1px;
	background: #fef1e9;
	border-radius: 6px;
	color:#000;
}
.main-content p span{
	display: inline-block;
	width: 610px;
	height: 20px;
	line-height: 20px;
	padding: 5px;
}
.main-content img{
	width:100%;
	border-radius: 6px;
}

.main-info{
	width: 260px;
	padding: 4px 19px;
	float: right;
	padding-bottom: 10px;
	border:solid #ddd 1px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
}

.main-info h3{
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	font-size: 16px;
	font-weight:700;
	color:#fd5e00;
	border-bottom:dotted #ccc 1px;
}
.main-info ul{
	padding: 10px 0;
}
.main-info ul li{
	height: 27px;
	font-size: 14px;
}
.main-info ul li span{
	float: left;
	height: 27px;
	line-height: 27px;
}
.main-info ul li span.title{
	padding-left: 15px;
	width: 75px;
}
.main-info ul li span.info{
	width: 170px;
	text-align: left;
	overflow: hidden;
}
.main-info .get-now{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-size: 16px;
	margin: 10px auto;
	background: #fd5e00;
	color:#fff;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}
.main-info a.get-now:hover{
	color:#fff!important;
}