.layout-1190{
    width: 1190px;
    margin: 0 auto;
}

.layout-990{
    width: 990px;
    margin: 0 auto;
}

.layout-1190,
.layout-990{
	clear:both;
}
.layout-1190,
.layout-990{
	*zoom:1;
}
.layout-1190:after,
.layout-990:after{
	display:block;
	clear:both;
	height:0;
	content:"\0020";
}

a:hover{
    color:#fd5e00!important;
};