<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>美优萌宠—登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/module/form.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page/login/v1.css" />
</head>

<body>
    <div id="doc">
        <div class="login-logo">
            <div class="layout-990">
                <h4>
                    <a href="/">
                        <img src="/static/img/logo.png">
                    </a>
                    <span class="txt">登录</span>
                </h4>
            </div>
        </div>
        <div class="logo-container">
            <div class="layout-990">
                <div class="login-form">
                    <div class="message ms-yh" id="message">登录美优萌宠</div>
                    <form method="post">
                        <input type="text" id="mobile" placeholder="手机号"/>
                        <input type="password" id="password" placeholder="密码"/>
                        <a href="/forget">忘记密码？</a><br/>
                        <span class="do" id="do-log">登&nbsp;录</span>
                    </form>
                    <ul>
                        <li>还没有账号？<a href="/reg"> 立即注册</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer" class="ms-yh">
            <div class="layout-990">
                <span class="copyright">
                Copyright&nbsp;©&nbsp;<a href="/" target="_self">杭州美呦科技有限公司</a>&nbsp;&nbsp;2015-2025&nbsp;&nbsp;版权所有
            </span>
                <br>
                <a href="/static/us.html">团队介绍</a>&nbsp;|&nbsp;<a href="/static/contact.html">联系我们</a>
            </div>
        </div>
    </div>
</body>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/gallery/dialog.js"></script>
<script src="/static/js/global/util.js"></script>
<script src="/static/js/page/log/v1.js"></script>
</html>