#header{
    height: 60px;
    background-color: rgba(255,255,255,0.95);
    z-index: 999;
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 0px 2px 2px #ddd;
    width: 100%;
}
#header h1{
    float: left;
    margin-top: 5px;
}
#header h1 img{
    height: 45px;
}
#header .nav{
    float: left;
    height: 60px;
    margin-left: 30px;
}
#header .nav li{
    float: left;
    line-height: 60px;
    font-size: 16px;
    padding: 0 5px;
    margin: 0 8px;

}
#header .nav li.current{
    height: 54px;
    line-height: 54px;
    padding-top: 3px;
    border-bottom: solid #fd5e00 3px;
    font-weight: 700;
}
#header .nav li a{
    color:#666;
}
#header .nav li a:hover{
    color:#fd5e00;
}

#header .nav li.current a{
    color:#fd5e00;
}
#header .user-center{
    float: right;
    font-size: 14px;
    height: 60px;
    color:#888;
    position: relative;
}
#header .user-center .no-login{
    display: inline-block;
    padding: 0 15px;
    margin-top: 15px;
    border-radius: 5px;
    height: 28px;
    line-height: 28px;
    color:#666;
    border:solid #999 1px;
}
#header .user-center .no-login:hover{
    border:solid #fd5e00 1px;
}
#header .user-center .is-login img{
    float: left;
    margin-top: 12px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
}
#header .user-center .is-login .name{
    float: left;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
}
#header .user-center .is-login .user{
    cursor: pointer;
}#header .user-center .is-login .user a{
    color:#888;
}
#header .user-center .operation{
    position: absolute;
    top: 52px;
    left: 0px;
    width: 110px;
    display: none;
}
#header .user-center .operation:after{
    content:" ";
    display: inline-block;
    border-top: 7px solid rgba(221,221,221,0);
    border-right: 7px solid rgba(221,221,221,0);
    border-bottom: 7px solid rgba(221,221,221,1);
    border-left: 7px solid rgba(221,221,221,0);
    position: absolute;
    z-index: 1;
    top:-14px;
    left:70px;
}
#header .user-center .operation em{
    display: inline-block;
    border-top: 7px solid rgba(255,255,255,0);
    border-right: 7px solid rgba(255,255,255,0);
    border-bottom: 7px solid rgba(255,255,255,1);
    border-left: 7px solid rgba(255,255,255,0);
    position: absolute;
    z-index: 2;
    top:-13px;
    left:70px;
}
#header .user-center .operation ul{
    border:solid #ddd 1px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
#header .user-center .operation li{
    height: 32px;
    text-align: center;
}
#header .user-center .operation li:first-child{
    border-bottom: dashed #eee 1px;
}
#header .user-center .operation li a{
    color:#777;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 100%;
}
#header .user-center:hover .operation{
    display: inline-block;
}