<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/gallery/form/form.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/common.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page/home/release.css">
</head>

<body>
     <assign name="head_tab" value="0" />
     <include file="./Application/Public/View/Header/v1.html"/>
     
    <div id="content">
        <div class="layout-990">
            <div class="left-content">
                <h3>个人资料</h3>
                <div class="release">
                    <form action="__URL__/update" method="post" id="releasepet">
                        <input type="hidden" name="id" value="{$user['id']}">
                        <div class="row fd-clr">
                            <label class="form-label">昵称：</label>
                            <div class="formControls">
                                <input type="text" class="input-text" placeholder="不能超过25个字符" name="username" id="username" datatype="*1-25" nullmsg="标题不能为空">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">年龄：</label>
                            <div class="formControls select-control">
                                <span class="select-box">
                                    <select class="select" size="1" datatype="*" nullmsg="请选择种类">
                                        <option value="" selected>请选择年龄段</option>
                                        <option value="1">70前</option>
                                        <option value="1">70后</option>
                                        <option value="2">80后</option>
                                        <option value="2">90后</option>
                                        <option value="2">00后</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">性别：</label>
                            <div class="formControls">
                                <div class="radio-box">
                                    <input type="radio" id="sex-1" name="sex" datatype="*" nullmsg="请选择性别！">
                                    <label for="sex-1">男</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" id="sex-2" name="sex">
                                    <label for="sex-2">女</label>
                                </div>
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">电话：</label>
                            <div class="formControls">
                                <input type="text" class="input-text" placeholder="价格必须为数字" name="username" id="username" datatype="n" nullmsg="价格必须为数字">
                            </div>
                            <div class="form-tip"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">地址：</label>
                            <div class="formControls select-control">
                                <span class="select-box">
                                    <select class="select" size="1" datatype="*" nullmsg="请选择所在城市!">
                                        <option value="" selected>请选择城市</option>
                                        <option value="1">北京</option>
                                        <option value="2">上海</option>
                                        <option value="3">广州</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip select-tip"></div>
                            <label class="form-label margin-top-10"></label>
                            <div class="formControls select-control margin-top-10">
                                <span class="select-box">
                                    <select class="select" size="1" datatype="*" nullmsg="请选择所在地区!">
                                        <option value="" selected>请选择城市</option>
                                        <option value="1">北京</option>
                                        <option value="2">上海</option>
                                        <option value="3">广州</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-tip select-tip margin-top-10"></div>
                            <label class="form-label margin-top-10"></label>
                            <div class="formControls width-430 margin-top-10">
                                <input type="text" class="input-text" placeholder="详细地址" name="username" id="username" datatype="*" nullmsg="详细地址不能为空">
                            </div>
                            <div class="form-tip margin-top-10"></div>
                        </div>
                        <div class="row fd-clr">
                            <label class="form-label">头像：</label>
                            <div class="img-upload-box">
                                <div class="img-box">

                                </div>
                                <div class="add-img">
                                    <i class="iconfont">&#xe605;</i>
                                    <span>添加一张图片</span>
                                </div>
                            </div>
                        </div>
                        <div class="fd-clr btn-box">
                            <input class="btn btn-release" type="submit" value="确认">
                        </div>
                    </form>
                </div>
            </div>
            
            <assign name="right_tab" value="3" />
            <include file="./Application/Public/View/Component/right_menu.html"/>
            
        </div>
    </div>
    <div id="footer" class="ms-yh">
        <div class="layout-990">
            <span class="copyright">
            Copyright&nbsp;©&nbsp;<a href="/" target="_self">杭州美呦科技有限公司</a>&nbsp;&nbsp;2015-2025&nbsp;&nbsp;版权所有
        </span>
            <br>
            <a href="/static/us.html">团队介绍</a>&nbsp;|&nbsp;<a href="/static/contact.html">联系我们</a>
        </div>
    </div>
</body>

<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script src="http://www.meipet.com.cn/static/gallery/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="/static/gallery/validform.js"></script>
<script type="text/javascript" src="/static/gallery/datepicker/WdatePicker.js"></script>
<script src="/static/js/page/home/publish.js"></script>

</html>





<form action="__URL__/update" method="post">
  <input type="hidden" name="id" value="{$user['id']}">
  <p>登陆名称：{$user['login_id']}</p>
  <p>昵称 ：<input type="text" name="name" value="{$user['name']}"/></p>
  <p>城市：
    <select  name='city'>
	  <option value ="杭州">杭州</option>
	</select>
  </p>
  <p>县/区：
    <select name='area'>
      <option value ="{$user['area']}">{$user['area']}</option>
      <option value ="上城区">上城区</option>
      <option value ="下城区">下城区</option>
      <option value ="拱墅区">拱墅区</option>
      <option value ="江干区">江干区</option>
      <option value ="西湖区">西湖区</option>
	  <option value ="滨江区">滨江区</option>
	  <option value ="余杭区">余杭区</option>
	  <option value ="萧山区">萧山区</option>
	</select>
  </p>
  <p>详细地址 ：<input type="text" name="address" value="{$user['address']}" placeholder="例如：钱龙大厦1单元513室"/></p>
  <p>头像：<input type="text" name="face_img" />{$user['face_img']}</p>
  <p>性别：
    <select name='sex'>
      <if condition="$user_sex eq 'F' ">
         <option value ="F">女</option>
	  <elseif condition="'M' eq $user_sex"/>
	     <option value ="M">男</option>
	  </if>
	  <option value ="M">男</option>
	  <option value ="F">女</option>
	</select>
  </p>
  <p>类型：
    <select name='type'>
	  <option value ="{$user['type']}">{$user['type']}</option>
	  <option value ="大型门店">大型门店</option>
	  <option value ="中型门店">中型门店</option>
	  <option value ="小型门店">小型门店</option>
	  <option value ="个人">个人</option>
	  <option value ="公益组织">公益组织</option>
	  <option value ="政府机构">政府机构</option>
	</select>
  </p>
  
  <p>生日：<input type="text" name="birthday" value="{$user['birthday']}"/></p>
  <p>邮箱：<input type="text" name="mail" value="{$user['mail']}"/></p>
  <p>手机：<input type="text" name="mobile"  value="{$user['mobile']}"/></p>
  <p>qq号：：<input type="text" name="qq"  value="{$user['qq']}"/></p>
  <input type="submit" value="Submit" />
</form>
