<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{$pet.subject} | 美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/module/dialog/v1.css">
    <!-- module-->
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/css/page/detail/main-content.css">
</head>

<body>
   <include file="./Application/Public/View/Header/v1.html" />
    <div id="content">
        <div class="layout-990">
            <div class="main-content">
                <h3 class="ms-yh">
                    <span>{$pet.subject}</span>
                    <span class="bdsharebuttonbox">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    </span>
                </h3>
                <p class="description">寄语：{$pet.description}</p>
                <!-- <p>
                    <img src="{$pet.img}">
                </p> -->
                <volist name="imgList" id="vo">
	                <p>
	                    <img src="{$vo.img_url}">
                        <notempty name="vo.dec">
                            <span>描述：{$vo.dec}</span>
                        </notempty>
	                </p>
				</volist>
               

            </div>

            <div class="main-info">
                <h3 class="ms-yh">萌宠基本信息</h3>
                <ul>
                    <li>
                        <span class="title">萌宠种类:</span>
                        <if condition="($pet.category eq 'cat') ">
                            <span class="info">喵星人</span>
						<elseif condition="($pet.category eq 'dog')"/>
							<span class="info">汪星人</span> 
						</if>
                    </li>
                    <li>
                        <span class="title">萌宠品种:</span>
                        <span class="info">{$pet.pinzhong}</span>
                    </li>
                    <li>
                        <span class="title">萌宠性别:</span>
                        <if condition="($pet.sex eq 'M') ">
                            <span class="info">公</span>
						<elseif condition="($pet.sex eq 'F')"/>
							<span class="info">母</span> 
						</if>
                    </li>
                    <li>
                        <span class="title">萌宠颜色:</span>
                        <span class="info">{$pet.color}</span>
                    </li>
                    <li>
                        <span class="title">萌宠生日:</span>
                        <span class="info">{$pet['birthday']|date='Y-m-d',###}</span>
                    </li>
                    <li>
                        <span class="title">健康状态:</span>
                        <span class="info">良好</span>
                    </li>

                    <li>
                        <span class="title">参考价格:</span>
                        <span class="info">&yen;{$price}</span>
                    </li>

                    <li>
                        <span class="title">所在区域:</span>
                        <span class="info">{$pet.city} {$pet.area}</span>
                    </li>
                </ul>
                <a class="get-now" data-id="{$pet.id}" href="/log?from=http://www.meipet.com.cn/detail?id={$pet.id}">立即领养</a>
            </div>
        </div>
    </div>
    <include file="./Application/Public/View/Footer/v1.html" />
    <div id="get-now-dialog" class="ms-yh dialog-box">
        <h3>萌宠详细联系方式</h3>
        <a href="" class="close">
            <i class="iconfont">&#xe607;</i>
        </a>
        <div class="content fd-clr">
            <div class="fd-clr">
                <span class="title">联系电话：</span>
                <span class="text"></span>
            </div>
            <div class="fd-clr">
                <span class="title">详细地址：</span>
                <span class="text"></span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script src="/static/gallery/dialog.js"></script>
<script src="/static/js/module/header/v1.js"></script>
<script src="/static/js/page/detail.js"></script>
<script src="/static/module/share.js"></script>
</html>