<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <!-- module-->
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/css/page/center/v1.css">
</head>

<body>
    <include file="./Application/Public/View/Header/v1.html" />
    <div id="content">
        <div class="layout-990">
            <div class="mod-user">
                <h3 class="ms-yh">{$store.name}</h3>
                <p>{$store.dec}</p>
            </div>
            <div class="mod-content fd-clr">
                    <ul class="tab-title">
                        <li class="current">
                            <a href="#">待领养</a>
                        </li>
                        <li>
                            <a href="#">已领养</a>
                        </li>
                        <li>
                            <a href="#">萌宠服务</a>
                        </li>
                    </ul>
                    <div class="offer-list fd-clr">
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp1.png);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp2.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp3.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp4.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp5.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="offer-item">
                            <a href="#">
                                <div class="item-box" style="background-image: url(/static/img/temp6.jpeg);">
                                    <div class="price-age">
                                        <span class="price">价格<br/>&yen;2000.00</span>
                                        <span class="age">年龄<br/>&le;3个月</span>
                                    </div>
                                </div>
                                <div class="other"> 
                                    <span class="description">
                                        美优美宠猫猫美优美宠猫猫优美宠猫猫优美宠猫猫
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="more">没有更多了...</div>
                </div>
            <div class="mod-shop">
                <h3>店铺概况</h3>
                <div class="box">
                    <img src="{$store.img}">
                </div>
                <ul>
                    <li class="fd-clr first">
                        <span class="title">店铺资质:</span>
                        <span class="description">{$user.type}</span>
                    </li>
                    <li class="fd-clr">
                        <span class="title">联系电话:</span>
                        <span class="description">{$store.phone}</span>
                    </li>
                    <li class="fd-clr">
                        <span class="title">主营业务:</span>
                        <span class="description">
	                        <if condition="($store.adopt eq 'Y')">
	                            <em>领养</em>
	                        </if>
							<if condition="($store.cosmet eq 'Y')">
							    <em>美容</em>
							</if>
							<if condition="($store.wash eq 'Y')">
							    <em>洗护</em>
							</if>
							<if condition="($store.medical eq 'Y')">
							    <em>医疗</em>
							</if>
                        </span>
                    </li>
                    <li class="fd-clr">
                        <span class="title">所在区域:</span>
                        <span class="description">{$user.city} {$user.area}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <include file="./Application/Public/View/Footer/v1.html" />
</body>
<!-- global-->
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script src="/static/js/module/header/v1.js"></script>
<!-- module-->
<!-- page-->

</html>