<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>美优萌宠</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" />
    <!-- global-->
    <link rel="stylesheet" type="text/css" href="/static/css/global/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/global/layout.css">
    <!-- module-->
    <link rel="stylesheet" type="text/css" href="/static/css/module/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/module/footer.css">
    <!-- page-->
    <link rel="stylesheet" type="text/css" href="/static/css/page/list/offer-sn.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page/list/offer-list.css">
    <link rel="stylesheet" type="text/css" href="/static/css/page/list/v1.css">
</head>

<body>
    <div id="header">
        <div class="layout-990">
            <h1><a href="/" title="美优萌宠"><img src="/static/img/logo.png"></a></h1>
            <ul class="nav ms-yh">
                <li><a href="/">首页</a></li>
                <li class="current"><a href="/list">有偿领养</a></li>
                <li><a href="/list">无偿领养</a></li>
            </ul>
            <div class="user-center">
                <a class="no-login" href="/log" target="_self">登录</a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="layout-990 offer-sn">
            <div class="sn-item">
                <span class="title">种类：&nbsp;</span>
                <a href="/list" class="all selected">全部</a>
                <a href="/list?category=cat" class="cat">猫咪</a>
                <a href="/list?category=dog" class="dog">狗狗</a>
            </div>
            <div class="position">
                <span class="title">地区：&nbsp;</span>
                <span class="city"></span>
                <a href="#" class="swich-city">切换城市</a>
                <div class="zone">

                </div>
            </div>
        </div>
        <div class="layout-990">
            <script id="list-template" type="text/html">

                <% for( var key in data){ %>
                    <% var pet = data[key] %>
                    <div class="offer-item">
                        <a href="/detail?id=<%= pet.id %>" target="_blank">
                            <div class="item-box" style="background-image: url(<%= pet.img %>);">
                                <div class="price-age">
                                    <span class="price">价格<br/>&yen;<%= pet.price/100 %></span>
                                    <span class="age">年龄<br/>&le;3个月</span>
                                </div>
                            </div>
                            <div class="other">
                                    <span class="description">
                                        <%= pet.subject %>
                                    </span>
                                <span class="button">立即领养</span>
                            </div>
                        </a>
                    </div>
                <% } %>

            </script>
            <div class="offer-list fd-clr">
            </div>
        </div>
        <div class="layout-990">
            <span class="no-more">

            </span>
        </div>
    </div>
    <div id="footer" class="ms-yh">
        <div class="layout-990">
            <span class="copyright">
            Copyright&nbsp;©&nbsp;<a href="/" target="_self">杭州美呦科技有限公司</a>&nbsp;&nbsp;2015-2025&nbsp;&nbsp;版权所有
        </span>
            <br>
            <a href="/static/us.html">团队介绍</a>&nbsp;|&nbsp;<a href="/static/contact.html">联系我们</a>
        </div>
    </div>
</body>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/gallery/store.js"></script>
<script src="/static/gallery/datalazyload.js"></script>
<script src="/static/gallery/template.js"></script>
<script src="/static/js/global/util.js"></script>
<script src="/static/js/module/header/v1.js"></script>
<script src="/static/js/page/list.js"></script>

</html>